
body, div, ul, li, h1, h2, h3, h4, p , a, img,hr{margin:0; padding:0;}
body{font-size:14px; font-family: 'Yeon Sung', cursive;  }
.nor{font-size:14px; font-family: 'Nanum Gothic', sans-serif;}
ul li{list-style:none;}
a{text-decoration:none; display:block;}
img{display:block; border:0;}

body,html{/* height:100%; */ height:1080px;}
h1{font-size:50px;}
h2{font-size:40px;}
h3{font-size:30px;}
h4{font-size:25px;}

/*첫번째*/
.left{width:260px; height:100%; position:fixed; top:0; left:0; z-index:9999;}
.left .left-navi{float:left; width:190px; height:100%; background-color:#9ed15b; text-align:center; position:relative;} 
.left-navi img{width:100%;}
.left-navi .logobox{width:60px; height:80px; margin:0 auto; margin-bottom:20px;}
.left-navi h3{color:#fff; font-size:30px; font-weight:normal; padding-bottom:25px; }
.left-navi .navi{width:inherit; padding-bottom:350px;}
.navi li{width:inherit; border-top:1px solid #327517; }
.navi li:last-child{border-bottom:1px solid #327517;}
.navi li a{color:#0e2d03; font-size:18px; padding:20px 0; }
.navi li a.black{color:#000;}
.navi li a .fa{color:#327517; font-size:15px; float:right; margin-right:10px;}


.logo-bot{width:inherit; position:absolute; bottom:3%;}
.logo-bot a{width:160px; padding:10px 0; margin:auto;}
.logo-bot .bot-way{ color:#000; background-color:#fff; margin-bottom:10px;}
.logo-bot .bot-priv{color:#fff; border:1px solid #fff; box-sizing:border-box; margin-bottom:20px;}
.logo-bot p{text-align:center;; font-size:12px;}
 

/*숫자*/
   .left .left-number {
       float: left;
       width: 70px;
       height: 100%;
       background-color: #0e2d03;
       color: #fff;
   }
.left-number .num-block{position:relative; width:100%; height:100%;  padding:10px 0;text-align:center; }
.num-block img{padding-bottom:10px;}
.out, .num-block img{display:inline-block;}
.num-block .scroll{padding-bottom:50px;}
.out{position:absolute; width:45px; height:45px; border:1px solid #fff; border-radius:50%; text-align:center;}
.o-one{top:140px; right:11px;}
.o-two{top:198px; right:11px;}
.o-three{top:258px; right:11px;}
.o-four{top:317px; right:11px;}
.o-five{top:376px; right:11px;}

.inn{width:35px; height:35px;border:1px dashed #fff; border-radius:50%; margin:4px auto 0;}
.inn a{line-height:40px; font-size:25px; color:#fff;}
.num-block .color{border:1px solid #96b418;}
.num-block .colorin{border:1px dashed #96b418;}
.num-block .colorin a{color:#96b418;}

.bar{position:absolute; border-width:0.5px; border-color:#fff;    -webkit-transform:rotate(90deg); transform:rotate(90deg); width:15%;}
.b-one{top:192px; left:28px;}
.b-two{top:251px; left:28px;}
.b-three{top:311px; left:28px;}
.b-four{top:370px; left:28px;}

.header{position:absolute;top:0; left:260px;    width:1660px; height:100%; }


/*right*/
.right {width:1660px; height: 1080px; /* float: left;  */
        background-size:cover; /* position:relative; */}

 .r_one{background-image: url("../images/bg/bg1-1.png"); /* overflow:hidden; */}       
   .right-txt{float:left;  width:600px; color:#fff; margin-left:200px; padding-top:100px; text-align:center; }
   .right-txt img{margin:auto; padding-bottom:60px;}
   .r_one h1{font-size:100px; font-weight:normal; padding-bottom:60px;}
   .r_one p{font-size:20px; padding:50px 0; line-height:25px;}
   .r_one .tx-dash{margin:auto; text-align:center; width:90px; height:90px; border:2px dashed #fff; box-sizing:border-box; border-radius:50%;}
   .tx-dash .fa{cursor:pointer; font-size:105px; margin-left:18px; line-height:90px;  }
   .r_dash{width:1px; height:230px; margin:auto; background-color:rgb(247, 247, 247);}
   /* .tx-line{position:absolute; top:770px; left:430px;   width:18%; margin:auto; -webkit-transform:rotate(90deg); transform:rotate(90deg); } */
   
   .right-img{float:left; width:800px; height:600px; overflow:hidden; position:relative; height:100%;}
   .right-img img{position:absolute; }
   .right-img img:nth-child(1){ left:330px; bottom:60px;}
   .right-img img:nth-child(2){ left:480px; bottom:0; }


/************************/
/**r_two**/
/************************/
.r_two{background-image:url("../images/bg/bground2.jpg"); position:relative; }
.r_two img{position:absolute; bottom:50px; right:260px; }
.two_text{width:500px; text-align:right;position:absolute; top:60%; left:25%;
transform:translateY(-60%);} 
.two_text p{color:#10622d; font-weight:800; font-size:23px; margin-bottom:50px;}
.two_text h2{height:90px; line-height:90px;/* margin-bottom:20px;  */color:#fff; font-size:48px; text-shadow:2px 2px 2px #0e2d03;}
.two_text h2.two_line{line-height:52px; margin-bottom:20px;}
.two_text h2 span{display:block;}

.ruler_top{position:absolute; bottom:630px; right:645px; width:46px; height:30px; 
border-bottom:2px solid #fff; border-right:2px solid #fff; }
.top_one{position:absolute; bottom:615px; right:628px; width:38px; height:38px; border-radius:50%;
border:1px solid #fff;   }
.top_one_in{width:27px; height:27px; background-color:#fff; margin:auto; border-radius:50%;
margin-top:5px;}
.rtwo_ruler{position:absolute; bottom:120px; right:600px; }
.rtwo_ruler ul{position:relative; width:46px; box-sizing:border-box;border-left:2px solid #fff; border-top:2px solid #fff; /*#10622d*/}
.rtwo_ruler li{width:23px; border-bottom:2px solid #fff; height:10px; box-sizing:border-box;}
.rtwo_ruler li:last-child{border:none;}
.rtwo_ruler ul:last-child{border-bottom:2px solid #fff;}

/************************/
/**r_three**/
/************************/
.r_three{background-image:url("../images/bg/bround3.jpg"); position:relative;}
.three_box{/* width:550px; height:550px; */width:34.375rem; height:34.375rem; background-color:#10622d; 
   transform:translate(-50%,-50%) rotate(45deg) ; position:absolute; top:50%; left:50%; }
.th_box_in{/* width:500px; height:500px;  */ width:31.25rem; height:31.25rem; border:1px solid #8dc083;
margin-top:25px; margin-left:25px;}
.t_box_in_text{transform:rotate(-45deg) translate(0%,-15%); color:#fff; width: 500px;
   height: 500px;
   text-align: center;}
.t_box_in_text img{margin:auto; padding-bottom :10px;}
.t_box_in_text h1{line-height:60px;}
.t_box_in_text h1 span{ font-family: 'Yeon Sung', cursive; display:block; font-size:52px;}
.t_box_in_text h3{padding-top:28px; font-size:19px; line-height:21px;}
.t_box_in_text h3:before{content: ' \25A0'}

/************************/
/**r_four**/
/************************/
.r_four{background-image:url("../images/bg/bground4.jpg"); position:relative;}
.four_box{width:1460px; position:absolute; top:50%; left:50%; 
transform:translate(-50%,-50%);}
.four_box_left{width:730px; float:left;text-align:center;}
.four_box_left img{display:inline; }
.four_box_left img:first-child{margin-right:20px;}
.four_box_right{width:730px;float:left;}
.f_b_right_one{width:365px;float:left;}
.f_b_r_one_top{width:340px; margin:auto;
   border-top:1px solid rgb(170, 255, 60);
   border-bottom:1px solid rgb(170, 255, 60); text-align:center; color:#fff;
   padding:25px 0;}
.f_b_r_one_top h3{line-height:35px; }
.f_b_r_one_bot{text-align:center; padding:30px 0;color:#fff; text-align:center; font-size:18px;}
.f_b_r_one_bot p span{display:block; padding:8px 0;}

.f_b_right_two{width:365px;float:left;  text-align:center; margin-top:28px;}
.f_b_right_two div{width:270px; padding:10px 0; margin:auto; border:1px solid rgb(115,255,60); box-sizing:border-box;}

.f_b_right_two ul li{padding-bottom:12px;}
.f_b_right_two ul h5{font-size:16px; color:#fff; padding-bottom:5px;}
.f_b_right_two ul p{font-size:12x; color:#fff; padding-bottom:5px;}


/************************/
/**r_five**/
/************************/
.r_five{background-image:url("../images/bg/bground5.jpg");
padding:50px 0;}
.r_five_title{width:900px; padding:20px 0; margin:auto; text-align:center;  border-top:2px solid rgb(216, 216, 216);
border-bottom:2px solid rgb(216, 216, 216); box-sizing:border-box;}
.r_five_title h1{color:#fff; line-height:50px; }
.r_five_sub{width:900px; padding:20px 0; margin:auto; text-align:center;}
.r_five_sub p{color:#000; font-size:20px; font-weight:700; line-height:25px; background-color:rgb(235, 205, 161,0.3);}

.r_five_mark{width:1400px; margin:auto; padding-top:80px;}
.r_five_mark li{float:left; width:700px; padding-bottom:40px;}
.r_five_mark li:last-child{padding-bottom:0;}
.r_five_mark li img{float:left; width:150px; height:150px;}
.r_five_mark li .mark_text {float:left; width:550px;}
.m_t_one{margin-top:32px;}
.m_t_two{margin-top:45px;}
.m_t_three{margin-top:32px;}
.m_t_four{margin-top:45px;}
.m_t_five{margin-top:22px;}
.r_five_mark li .mark_text .mark_text_box{width:430px; margin:auto; background-color:rgba(255, 255, 255, 0.4); text-align:center; padding:10px;}
.r_five_mark li .mark_text p.m_text_top{font-size:17px; line-height:20px; }
.r_five_mark li .mark_text p.m_text_brown{font-size:15px; line-height:16px; color:#381809; padding-top:10px;}